<div class="welcome">

  <% if user.nil? %>
    <%= 'You are not logged in.' %>

    <div class="register">
      <a href="/register">Register</a>
    </div>
    <div class="login">
      <a href="/login">Login</a>
    </div>

  <% elsif user[:admin] %>
    <div>
    Welcome, <%= user[:email] %>
    </div>
    <div class="register">
      <a href="/logout">Logout</a>
    </div>
    <div class="users_link">
      <a href="/users">View all users</a>
    </div>

  <% else %>
    Welcome, <%= user[:email] %>

    <div class="register">
      <a href="/logout">Logout</a>
    </div>

  <% end %>
</div>

