<div class="welcome">

  <% if user.nil? %>
    <%= 'You are not logged in.' %>

    <div class="register">
      <a href="/register">Register</a>
    </div>
    <div class="login">
      <a href="#">Login</a>
    </div>

    <% else %>
    Hello, <%= user[:email] %>

    <div class="register">
      <a href="/logout">Logout</a>
    </div>
  <% end %>
</div>

