<div class="welcome">
  <% if user.nil? %>
    <%= 'You are not logged in.' %>
    <% else %>
    Hello, <%= user[:email] %>
  <% end %>

  <div class="register">
    <a href="/register">Register</a>
  </div>
</div>

